<%= form_with(model: [:public, contact]) do |form| %>

  <div class="field">
    <%= form.text_field :name, placeholder: 'Nome' %>
  </div>

  <div class="field">
    <%= form.text_field :email, placeholder: 'E-mail'  %>
  </div>

  <div class="field">
    <%= form.text_field :phone, placeholder: 'Telefone'  %>
  </div>

  <div class="field">
    <%= form.text_area :message, id: 'contact_message', placeholder: 'Menssagem'  %>
  </div>

  <div class="action-buttom">
    <%= form.submit 'Enviar' %>
  </div>
<% end %>
