<div id="<%= dom_id basic %>">
  <p>
    <strong>Name:</strong>
    <%= basic.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= basic.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= basic.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= basic.neighborhood %>
  </p>

  <p>
    <strong>Postal:</strong>
    <%= basic.postal %>
  </p>

  <p>
    <strong>City:</strong>
    <%= basic.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= basic.state %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= basic.phone %>
  </p>

</div>
