<div class="contacts-info-container">
  <strong><%= basic.name %></strong>
  <div class="social">
    <% if basic.instagram.present? %>
      <div class="instagram">
        <%= link_to "https://instagram.com/#{basic.instagram}", target: "_blank", rel: "noopener" do %>
          <%= embedded_svg "instagram.svg" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="tel">
    <%= embedded_svg "telefone.svg" %> <%= basic.phone %>
  </div>
</div>
