<strong><%= basic.name %></strong>
<p><%= basic.address %>, <%= basic.number %></p>
<p><%= basic.city %>/<%= basic.state %></p>
<p><%= basic.neighborhood %> - <%= basic.postal %></p>
<p><%= basic.phone %></p>
