<p><%= basic.address %>, <%= basic.number %></p>
<p><%= basic.city %>/<%= basic.state %> - <%= basic.postal %></p>
<p><%= basic.neighborhood %> </p>

<div class="property">
  Todos os direitos reservados.
  <%= link_to "Login", user_session_path, class: 'nav-link' %>
</div>
