<p style="color: green"><%= notice %></p>

<% content_for :title, "Ãguia Suprimentos" %>

<% @logos.each do |logo| %>
  <%= render 'logo', logo: logo %>
<% end %>

<% @banners.each do |banner| %>
  <%= render 'banner', banner: banner %>
<% end %>

<% @abouts.each do |about| %>
  <%= render 'about', about: about %>
<% end %>

<div class="products-container">
  <h2>Produtos</h2>
  <div class="title-bar center"></div>
  <div class="content">
    <% @products.each do |product| %>
      <%= render 'product', product: product %>
    <% end %>
  </div>
</div>


<div class="contacts-container">
  <h2>Contatos</h2>
  <div class="title-bar center"></div>
  <div class="content">
    <div class="form">
      <%= render 'contacts/form', contact: Contact.new %>
    </div>
    <div class="address">
      <% @basics.each do |basic| %>
        <%= render 'basic', basic: basic %>
      <% end %>
    </div>
  </div>
</div>
