<p style="color: green"><%= notice %></p>

<% content_for :title, "Ãguia Suprimentos" %>

<% @logos.each do |logo| %>
  <%= render 'logo', logo: logo %>
<% end %>

<% @banners.each do |banner| %>
  <%= render 'banner', banner: banner %>
<% end %>

<% @abouts.each do |about| %>
  <%= render 'about', about: about %>
<% end %>

<% @products.each do |product| %>
  <%= render 'product', product: product %>
<% end %>
