<tr>
  <th scope="row"><%= contact.id %></th>
  <td><%= contact.name %></td>
  <td><%= contact.email %></td>
  <td><%= contact.phone %></td>
  <td><%= contact.message %></td>
  <td>
    <%= link_to contact, class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#exampleModal" } do %>
      <i class="bi bi-envelope-fill"></i> Abrir Contato
    <% end %>
  </td>
</tr>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contato de <%= contact.name %> no dia <%= contact.created_at.strftime("%d/%m/%Y %H:%M") %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Id: <%= contact.id %></p>
        <p>Nome: <%= contact.name %></p>
        <p>Email: <%= contact.email %></p>
        <p>Telefone: <%= contact.phone %></p>
        <p>Mensagem: <%= contact.message %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
