<tr id="<%= dom_id product %>">
  <th scope="row"><%= product.id %></th>
  <td>
    <% if product.image.attached? %>
      <%= image_tag product.image %>
    <% end %>
  </td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td style="display: flex; gap: 10px;">
    <%= link_to admin_product_path(product), class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#exampleModal#{product.id}" } do %>
      <i class="bi bi-envelope-fill"></i> Visualizar Produto
    <% end %>
    <%= button_to "Deletar", @product, method: :delete, class: "btn btn-danger" %>
  </td>
</tr>


<!-- Modal -->
<div class="modal fade" id="exampleModal<%= product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= product.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Id: <%= product.id %></p>
        <% if product.image.attached? %>
          <%= image_tag product.image %>
        <% end %>
        <p>Nome: <%= product.name %></p>
        <p>Descrição: <%= product.description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
