<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Aguia" %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <%= link_to "Águia", admin_dashboard_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Site
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dados Básicos", admin_basics_path, class: 'nav-link' %></li>
                <li><%= link_to "Logo", admin_logos_path, class: 'nav-link' %></li>
                <li><%= link_to "Banner", admin_banners_path, class: 'nav-link' %></li>
                <li><%= link_to "Sobre Nós", admin_abouts_path, class: 'nav-link' %></li>
                <li><%= link_to "Produtos", admin_products_path, class: 'nav-link' %></li>
              </ul>
            </li>
            <li><%= link_to "Usuários", admin_users_path, class: 'nav-link' %></li>
          </ul>
          <%= button_to 'Deslogar', destroy_user_session_path, method: :delete, data: { confirm: "Deslodar da sua conta?" } %>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
