<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Autenticação - Instagram" %></title>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "authentication", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <section class="container">
      <%= yield %>
    </section>
    <%= link_to "Login", user_session_path, class: 'nav-link' %>
  </body>
</html>
