<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Autenticação - Instagram" %></title>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "authentication", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <section class="container">
      <%= yield %>
    </section>

    <%= link_to "https://wa.me/5516991503216", class: 'whatsapp-link', target: "_blank", rel: "noopener" do %>
      <%= image_tag "whatsapp.png", alt: "Fale conosco no WhatsApp", style: "width: 50px; height: 50px;" %>
    <% end %>

  </body>
</html>
